* {
    margin:0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #333;

}
/* Container */
.contianer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
/* Headers */
.main-header {
    background-color: #9BB47C;
    padding: 20px 0;


}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;




}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:#ffffff;
    transition: transform 0.3s ease;
    
}
/* Logo Hover */
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    


}
/* Nav Hover */

.main-nav a:hover{
    color: #E4A199;
   border-bottom: 2px solid #E4A199;
   padding-bottom: 5px;
}

.main-nav a:focus {
    outline: 2px solid #3498db;
    outline-offset: 4px;
}
/* Hero */
.hero {
    background-color: #EAD2A8;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
  

}

.hero-title {
    font-size: 48px;
    margin-bottom: 30px;
    transition: color 0.3s ease, transform 0.3 ease;


}
/* Hero Hover */
.hero-title:hover{
    color: #c7a0f7;
    transform: scale(1.05)
}
.hero-subtitle {
    font-size: 20px;
    margin-bottom: 30px;
}
/* Button */
.btn {
    padding: 20px 40px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease ;

}

.btn-primary {
    background-color: #E4A199;
    color: #ffffff;
}
/* Button Hover */
.btn:hover {
    transform: translateY(-2px) scale(1.05);
    opacity: 0.9;


}

.btn:active{
    transform: translateY(0);
}
/* Lesson 8 */


.feautres{
    padding: 80px 0;
    background-color: #f8f9fa;

}
.section-title{
    text-align: center;
    font-size: 36px;
    color: #2c3e50;
    margin-bottom:10px;
}

.section-subtitle{
    text-align: center;
    color:#7f8c8d;
    font-size: 20px;
    margin-bottom: 50px;
}


.features-grid{
    display: flex;
    justify-content: space-between;
    gap:30px

}
.features-card{
    background-color: #ffffff;
    flex:1;
    padding: 40px 30px;
    box-shadow: 0 50px 15px rgba(0,0,0,0.08);
    border-radius: 12px;
    transition: transform 0.3s ease, 
    box-shadow 0.3s ease;
}

.features-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    
}
.feature-icon{
    font-size: 60px;
    margin-bottom: 20px;
}

.feature-card h3{
    color: #2c3e50;
    margin-bottom: 15px;
}

.feature-card p{
    color: #7f8c8d;
    font-size: 16px;
    line-height: 1.6;
}